.filterjs {

  position: relative;
  padding-bottom: 1.2em; /* mostly for the event count item, so it has somewhere to sit */
}

.filterjs__filter {

  position: relative;

  > div {

    display: inline-block;
    vertical-align: top;
    padding: 0px 15px;
  }

  &:first-child {
    padding-left: 0;
  }
}

.filterjs__list__wrapper {

  position: relative;

  .hidden {

    display: none;
  }

  /*
  .filterjs__loading {

    position:         absolute;
    width:            100%;
    height:           100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing:       border-box;
    z-index:          10;

    .filterjs__loading__img {

      position: absolute;
      left:     45%;
      bottom:   40%;
    }
  }
  */

  .filterjs__list__crop {

    width:      100%;
    height:     300px;
    overflow:   scroll;
    overflow-x: hidden;
    position:   relative;

    border:           1px solid #DDD;
    box-shadow:       0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #FFF;
    color:            #333;
    transition:       border-color 0.05s ease-in-out 0s;

    &:focus {
      border-color: rgb(0, 116, 162);
    }
  }

}


.filterjs__list {

  width:    100%;
  display:  table;

  .row {

    display: table-row;
    cursor: pointer;

    &:hover {

      background: #E9E9E9;
    }

    &.removed {

      background-color: rgb(221, 61, 54);
      background-color: rgba(221, 61, 54, 0.40);

      &:hover {

        background-color: rgba(221, 61, 54, 0.30);
      }
    }

    &.modified {

    background-color: rgb(255, 193, 138);
      background-color: rgba(255, 193, 138, 0.25);

      &:hover {

        background-color: rgba(255, 193, 138, 0.15);
      }
    }

    &.selected {
        background-color: rgb(0, 116, 162);
        background-color: rgba(0, 116, 162, 0.40);

        &:hover {

          background-color: rgba(0, 116, 162, 0.30);
        }
      }

    &.removed.selected {
      background-color: rgb(0, 116, 162);
      background-color: rgba(0, 116, 162, 0.55);

      &:hover {

        background-color: rgba(0, 116, 162, 0.45);
      }
    }

    &.modified.selected {
      background-color: rgb(0, 116, 162);
      background-color: rgba(0, 116, 162, 0.45);

      &:hover {

        background-color: rgba(0, 116, 162, 0.35);
      }
    }

span {

      display:    table-cell;
      text-align: left;
      padding:    5px 10px;
      border-bottom: 1px solid #AAA;
    }
  }
}


.title_row {

  .title {
    float: left;
    padding: 6px 0; /* this is to match the padding on the buttons */
  }

  .title__navigation_buttons {

    float: right;
    margin: 1em 0; /* this is to match the margin on the title */

    input {

      margin-left: 1px;
    }
  }
}

.event_list__counter__container {

  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 0;

  .event_list__counter {

  }
}