.featured_events_find {

  width: 100%;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;

  border: 1px solid #DDD;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
  background-color: #FFF;
  color: #333;
  transition: border-color 0.05s ease-in-out 0s;

  &:focus {
    border-color: rgb(0, 116, 162);
  }
}


.featured_list_find {

  width:    100%;
  display:  table;

  .row {

    display: table-row;

    &:hover {

      background: #E9E9E9;
    }

    &.removed {

      background-color: rgb(221, 61, 54);
      background-color: rgba(221, 61, 54, 0.40);

      &:hover {

        background-color: rgba(221, 61, 54, 0.30);
      }
    }

    &.selected {
      background-color: rgb(0, 116, 162);
      background-color: rgba(0, 116, 162, 0.40);

      &:hover {

        background-color: rgba(0, 116, 162, 0.30);
      }
    }

    &.removed.selected {
      background-color: rgb(0, 16, 162);
      background-color: rgba(0, 16, 162, 0.40);

      &:hover {

        background-color: rgba(0, 16, 162, 0.30);
      }
    }


    span {

      display:    table-cell;
      text-align: left;
      padding:    5px 10px;
      border-bottom: 1px solid #AAA;
    }
  }


}