.filterjs__filter > div {
  display: inline-block;
  vertical-align: top;
  padding: 0px 15px; }
.filterjs__filter:first-child {
  padding-left: 0; }

.filterjs__list__wrapper {
  position: relative;
  /*
  .filterjs__loading {

    position:         absolute;
    width:            100%;
    height:           100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing:       border-box;
    z-index:          10;

    .filterjs__loading__img {

      position: absolute;
      left:     45%;
      bottom:   40%;
    }
  }
  */ }
  .filterjs__list__wrapper .hidden {
    display: none; }
  .filterjs__list__wrapper .filterjs__list__crop {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #FFF;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s; }
    .filterjs__list__wrapper .filterjs__list__crop:focus {
      border-color: #0074a2; }

.filterjs__list {
  width: 100%;
  display: table; }
  .filterjs__list .row {
    display: table-row; }
    .filterjs__list .row:hover {
      background: #E9E9E9; }
    .filterjs__list .row.removed {
      background-color: #dd3d36;
      background-color: rgba(221, 61, 54, 0.4); }
      .filterjs__list .row.removed:hover {
        background-color: rgba(221, 61, 54, 0.3); }
    .filterjs__list .row.modified {
      background-color: #ffc18a;
      background-color: rgba(255, 193, 138, 0.25); }
      .filterjs__list .row.modified:hover {
        background-color: rgba(255, 193, 138, 0.15); }
    .filterjs__list .row.selected {
      background-color: #0074a2;
      background-color: rgba(0, 116, 162, 0.4); }
      .filterjs__list .row.selected:hover {
        background-color: rgba(0, 116, 162, 0.3); }
    .filterjs__list .row.removed.selected {
      background-color: #0074a2;
      background-color: rgba(0, 116, 162, 0.55); }
      .filterjs__list .row.removed.selected:hover {
        background-color: rgba(0, 116, 162, 0.45); }
    .filterjs__list .row.modified.selected {
      background-color: #0074a2;
      background-color: rgba(0, 116, 162, 0.45); }
      .filterjs__list .row.modified.selected:hover {
        background-color: rgba(0, 116, 162, 0.35); }
    .filterjs__list .row span {
      display: table-cell;
      text-align: left;
      padding: 5px 10px;
      border-bottom: 1px solid #AAA; }
