.featured_events__wrapper {
  position: relative; }
  .featured_events__wrapper .hidden {
    display: none; }
  .featured_events__wrapper .featured_events__loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    z-index: 10; }
    .featured_events__wrapper .featured_events__loading .featured_events__img {
      position: absolute;
      left: 45%;
      bottom: 40%; }
  .featured_events__wrapper .featured_events__find {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #FFF;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s; }
    .featured_events__wrapper .featured_events__find:focus {
      border-color: #0074a2; }

.featured_list_find {
  width: 100%;
  display: table; }
  .featured_list_find .row {
    display: table-row; }
    .featured_list_find .row:hover {
      background: #E9E9E9; }
    .featured_list_find .row.removed {
      background-color: #dd3d36;
      background-color: rgba(221, 61, 54, 0.4); }
      .featured_list_find .row.removed:hover {
        background-color: rgba(221, 61, 54, 0.3); }
    .featured_list_find .row.selected {
      background-color: #0074a2;
      background-color: rgba(0, 116, 162, 0.4); }
      .featured_list_find .row.selected:hover {
        background-color: rgba(0, 116, 162, 0.3); }
    .featured_list_find .row.removed.selected {
      background-color: #0074a2;
      background-color: rgba(0, 116, 162, 0.6); }
      .featured_list_find .row.removed.selected:hover {
        background-color: rgba(0, 116, 162, 0.5); }
    .featured_list_find .row span {
      display: table-cell;
      text-align: left;
      padding: 5px 10px;
      border-bottom: 1px solid #AAA; }
