.featured_list_find {
  width: 100%;
  display: table; }
  .featured_list_find .row {
    display: table-row; }
    .featured_list_find .row span {
      display: table-cell;
      text-align: left;
      padding: 5px 10px;
      border-top: 1px solid #AAA; }
    .featured_list_find .row:last-of-type span {
      border-bottom: 1px solid #AAA; }
