.page-id-8173 .et_pb_fullwidth_header,
.parent-pageid-8173 .et_pb_fullwidth_header {
  background-color: #1cd8b0; }
.page-id-8173 .post-meta a:hover,
.page-id-8173 #content-area .et_pb_widget_area li a:hover,
.page-id-8173 .breadcrumbs a:hover,
.page-id-8173 .collapseomatic:hover,
.parent-pageid-8173 .post-meta a:hover,
.parent-pageid-8173 #content-area .et_pb_widget_area li a:hover,
.parent-pageid-8173 .breadcrumbs a:hover,
.parent-pageid-8173 .collapseomatic:hover {
  color: rgba(28, 216, 176, 0.8) !important; }
.page-id-8173 h4,
.parent-pageid-8173 h4 {
  color: #1cd8b0; }
.page-id-8173 blockquote,
.parent-pageid-8173 blockquote {
  border-color: #1cd8b0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.filterjs__loading {
  width: 100%;
  box-sizing: border-box;
  cursor: wait; }

.filterjs__loading--list {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10; }
  .filterjs__loading--list .filterjs__loading__img {
    position: absolute;
    left: 45%;
    bottom: 40%; }

.filterjs__loading--ajax {
  position: relative;
  height: 100%;
  background-color: transparent;
  border-top: rgba(0, 0, 0, 0.1) dashed 1px;
  border-bottom: rgba(0, 0, 0, 0.1) dashed 1px; }
  .filterjs__loading--ajax .filterjs__loading__status,
  .filterjs__loading--ajax .filterjs__loading__img {
    display: table;
    margin: 0 auto;
    padding: 20px 0; }
  .filterjs__loading--ajax .filterjs__loading__status {
    color: #4C4C4C; }
  .filterjs__loading--ajax .filterjs__loading__nojs {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7em; }

.hidden {
  display: none; }
