/**
These are the things about the events that we can't change.
It mostly looks like stuff that we wouldn't want to.

element.style {
position: absolute;
z-index: 8;
left: 28px;
border-color: rgb(203, 135, 205);
color: rgb(255, 255, 255);
width: 99px;
top: 448px;
background-color: rgb(203, 135, 205);
}
*/
/* Hide the loading graphic until we've got our horse into it. */
#eo_fullcalendar_1_loading {
  /* @see event-organiser.js for the css rules applied by javascript */
  display: inline-block;
  visibility: hidden; }
  #eo_fullcalendar_1_loading img {
    height: inherit;
    box-sizing: border-box; }

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit !important;
  /* Matches the font to the rest of the site */ }

.page .ui-widget-header,
.post .ui-widget-header {
  background-image: none;
  background-color: #f2f2f2;
  /* same as the hover color for the top nav */ }

.eo-event-toolip.ui-tooltip.qtip {
  border: 2px solid #ccc; }
  .eo-event-toolip.ui-tooltip.qtip .qtip-title,
  .eo-event-toolip.ui-tooltip.qtip .ui-tooltip-content {
    padding: 5px; }
  .eo-event-toolip.ui-tooltip.qtip .qtip-title {
    padding-top: 3px;
    font-size: 1.3em; }
  .eo-event-toolip.ui-tooltip.qtip .ui-tooltip-content {
    border: none; }

.eo-fullcalendar.eo-fullcalendar-shortcode .fc-view .fc-event {
  border-radius: 0px;
  font-size: .9em;
  margin-bottom: 2px; }
  .eo-fullcalendar.eo-fullcalendar-shortcode .fc-view .fc-event:hover {
    opacity: .9; }
.eo-fullcalendar.eo-fullcalendar-shortcode .fc-view .fc-event-time, .eo-fullcalendar.eo-fullcalendar-shortcode .fc-view .fc-event-title {
  display: block;
  padding: 0 5px; }

.fade_on_hover {
  cursor: pointer; }
  .fade_on_hover:hover {
    opacity: .8; }

#usc_fb_events_fullcalendar__list {
  display: none;
  text-align: right; }
  #usc_fb_events_fullcalendar__list * {
    box-sizing: border-box; }
  #usc_fb_events_fullcalendar__list ul {
    list-style-type: none;
    padding: 0;
    line-height: inherit; }
  #usc_fb_events_fullcalendar__list .dates {
    width: 100%;
    border: 1px solid #eee;
    /* grey out past events */ }
    #usc_fb_events_fullcalendar__list .dates .date {
      position: relative; }
    #usc_fb_events_fullcalendar__list .dates .date.date-past .date__title {
      opacity: .6; }
    #usc_fb_events_fullcalendar__list .dates .date.date-past .events .event__info {
      opacity: .75; }
    #usc_fb_events_fullcalendar__list .dates .date__title {
      float: right;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      text-align: left;
      padding: 12px;
      font-size: 1.858em;
      /* We're matching 26 px, but I don't like using px */
      line-height: inherit; }
    #usc_fb_events_fullcalendar__list .dates .date-today .date__title {
      background-color: #ffffe0; }
  #usc_fb_events_fullcalendar__list .events {
    position: relative; }
    #usc_fb_events_fullcalendar__list .events .eo-fb-event-list {
      float: right;
      display: inline-block;
      font-size: 1.05em;
      padding: 12px;
      border-top: 1px solid #f5f5f5;
      padding-left: 30%;
      width: 100%;
      box-sizing: border-box; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list:first-of-type {
        border-top: 1px solid #eee; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list:last-of-type {
        border-bottom: 1px solid #eee; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .etmodules {
        padding-right: 12px; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .etmodules:before {
          font-family: 'ETmodules';
          font-size: 0.75em;
          position: absolute;
          right: -6px; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__info {
        display: block;
        padding: 6px 0; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__title {
        font-size: 1.2em;
        padding-bottom: 12px;
        padding-right: 12px;
        border-bottom: 1px dashed #f2f2f2;
        position: relative; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__title:before {
          content: "\43"; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__title.clicked:before {
          content: "\42"; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__start {
        position: absolute;
        width: 24%;
        left: 0;
        text-align: left;
        padding-left: 12px;
        /*padding-top:  ($padding_units * 2) + px;*/
        text-transform: lowercase;
        font-style: italic; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .etmodules, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .etmodules {
        position: relative;
        padding-right: 6px; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .etmodules:before, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .etmodules:before {
          content: "\45";
          transition: none; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .social_facebook_square, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .social_facebook_square {
        padding-right: 18px; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .social_facebook_square:before, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .social_facebook_square:before {
          content: "\e0c1";
          font-size: 1em;
          right: 0; }
      #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .icon_link_alt, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .icon_link_alt {
        padding-right: 18px; }
        #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__url .icon_link_alt:before, #usc_fb_events_fullcalendar__list .events .eo-fb-event-list .event__ticket_uri .icon_link_alt:before {
          content: "\e02b";
          font-size: 1em;
          right: 0; }

/* hide the generated header until the layout breaks down at 750 picks */
.sticky-wrapper, #usc_fb_events_fullcalendar__list__header,
#usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__date_today {
  display: none; }

@media only screen and (max-width: 959px) {
  .eo-fullcalendar.eo-fullcalendar-shortcode .fc-content {
    display: none; }

  #usc_fb_events_fullcalendar__list {
    display: block; } }
@media screen and (max-width: 750px) {
  .eo-fullcalendar.eo-fullcalendar-shortcode .fc-header {
    border-top: none;
    /* hide the title cell */ }
    .eo-fullcalendar.eo-fullcalendar-shortcode .fc-header tr td {
      display: inline-block;
      border-top: none;
      padding: 6px 36px 0px 12px; }
      .eo-fullcalendar.eo-fullcalendar-shortcode .fc-header tr td:last-of-type {
        padding-bottom: 12px; }
    .eo-fullcalendar.eo-fullcalendar-shortcode .fc-header .fc-header-title {
      display: none; }

  /* show our header on the top */
  .sticky-wrapper, #usc_fb_events_fullcalendar__list__header {
    display: block; }

  #usc_fb_events_fullcalendar__list__header {
    box-sizing: border-box;
    border: 1px solid #eee;
    border-bottom: none; }
    #usc_fb_events_fullcalendar__list__header .usc_fb_events_header__title {
      display: inline-block;
      padding: 8px 0px 4px 12px; }

  .is-sticky #usc_fb_events_fullcalendar__list__header {
    background-color: white;
    border-bottom: 1px solid #eee;
    /* Not flat design enough
    -webkit-box-shadow: 0px 4px 6px -3px rgba(238, 238, 238, 1);
    -moz-box-shadow:    0px 4px 6px -3px rgba(238, 238, 238, 1);
    box-shadow:         0px 4px 6px -3px rgba(238, 238, 238, 1);*/
    z-index: 100;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .is-sticky #usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__top,
  #usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__date_today {
    float: right;
    top: 10px;
    right: 12px;
    display: inline-block; } }
/*
@media screen and (max-width: 480px) {

}
*/
