/*------------Events Plugin Styling ---------------------*/

#events {
    background:#efefef;
    overflow:hidden;
}

/*---Header area----*/
#events h1{
    font-size: 2em;
    display:inline-block;
    padding:20px 0 20px 20px;
}
.viewEvent{
    display:inline-block;
    float:right;
    padding: 25px 20px 20px 20px;
}

.eventItem{
    border-top:1px solid #ccc;
    clear:both;
    padding:20px 20px 5px 20px;
    overflow:hidden;
}

.eventItem img{ padding-right:15px; float:left; height:100px; width:100px;}

.eventTitle{display:inline-block; float:left; width:60%;}
.eventTitle h2{font-size: 1.375em;
    font-weight: 600; line-height:1.25em;}
.eventItem h3{
    color:#777;
    font-size:.875em;
    padding-bottom:5px;
    font-weight:bold;
    text-transform:uppercase;
}

.eventItem a {
    padding: 10px 20px;
    margin: 0px 0px 15px 0px;
    background: #fff;
    border: 1px solid #fff;
    color: #777;
    font-size:.875em;
    display: block;
    -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.25);
    box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.25);
    /*-moz-transition: all .2s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    /*transition: all .2s cubic-bezier(.4,0,.2,1);*/
    transition: none;
}

.eventItem a:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    2px 2px 4px rgba(50, 50, 50, 0.25);
    box-shadow:         2px 2px 4px rgba(50, 50, 50, 0.25);
    color:#7637a4;
    border: 1px solid #ccc;

}

.eventLinks{float:right;}

/*----Mobile Queries for Events go Here!!----*/
@media only screen and ( max-width: 767px ) {
    .eventTitle{width:100%; float:none;}
    .eventLinks{float:none; margin:0 -5px;}
    .eventItem a{
        display:inline-block;
        font-size:12px;
        margin-top:10px;
        margin-left:5px;
        padding:8px 28px;
    }
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    #events h1{padding:25px 0 0 0;
        font-size:1em;
        text-transform:uppercase;
        font-weight:bold;
    }
    .viewEvent{padding:20px 0 0 0;}
}