/**
These are the things about the events that we can't change.
It mostly looks like stuff that we wouldn't want to.

element.style {
position: absolute;
z-index: 8;
left: 28px;
border-color: rgb(203, 135, 205);
color: rgb(255, 255, 255);
width: 99px;
top: 448px;
background-color: rgb(203, 135, 205);
}
*/
/* Hide the loading graphic until we've got our horse into it. */
#eo_fullcalendar_1_loading {

  /* @see event-organiser.js for the css rules applied by javascript */
  display: inline-block;
  visibility: hidden;

  img {

    height: inherit;
    box-sizing: border-box;
    max-height: 46px;
  }
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {

  font-family: inherit !important; /* Matches the font to the rest of the site */
}

.page .ui-widget-header,
.post .ui-widget-header {

  background-image: none;
  background-color: #f2f2f2; /* same as the hover color for the top nav */
}


.eo-event-toolip.ui-tooltip.qtip {

  border: 2px solid #ccc;

  .qtip-title,
  .ui-tooltip-content {

    padding: 5px;
  }

  .qtip-title {

    padding-top: 3px;
    font-size: 1.3em;
  }

  .ui-tooltip-content {

    border: none;
  }

}

.eo-fullcalendar.eo-fullcalendar-shortcode {

  .fc-header {

    select::-ms-expand {
      border: none;
      background-color: transparent;
    }
  }

  .fc-view {

    .fc-event {

      border-radius: 0px;
      font-size: .9em;
      margin-bottom: 2px;

      &:hover {

        opacity: .9;
      }
    }

    .fc-event-time, .fc-event-title {

      display: block;
      padding: 0 5px;
    }
  }
}

$padding_units: 6;

.fade_on_hover {

  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

#usc_fb_events_fullcalendar__list {

  display: none;
  text-align: right;

  * {

    box-sizing: border-box;
  }

  ul {

    list-style-type: none;
    padding: 0;
    line-height: inherit;
  }

  .dates{

    width: 100%;
    border: 1px solid #eee;

    .date {

      position: relative;
    }

    /* grey out past events */
    .date.date-past {

      .date__title {

        opacity:   .6;
      }
      .events .event__info {

        opacity:   .75;
      }
    }

    .date__title {

      float: right;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      text-align: left;
      padding: ($padding_units * 2) + px;
      font-size: 1.858em; /* We're matching 26 px, but I don't like using px */
      line-height: inherit;

    }

    .date-today .date__title {

      background-color: #ffffe0;
    }

    .bottom-border .date__title {

      border-bottom: 1px solid #eee;
    }

  }

  .events {

    position: relative;

    .eo-fb-event-list {

      float: right;
      display: inline-block;
      font-size: 1.05em;
      padding: ($padding_units * 2) + px;
      border-top:    1px solid #f5f5f5;
      padding-left: 30%;
      width: 100%;
      box-sizing: border-box;

      &:first-of-type {

        border-top: 1px solid #eee;
      }

      &:last-of-type {

        border-bottom: 1px solid #eee;
      }

      .etmodules {

        padding-right: ($padding_units * 2) + px;

        &:before {

          font-family: 'ETmodules';
          font-size: 0.75em;
          position: absolute;
          right: -$padding_units + px;
        }
      }

      .event__info {

        display: block;
        padding: $padding_units + px 0;
      }

      .event__title {

        font-size: 1.2em;
        padding-bottom: ($padding_units * 2) + px;
        padding-right: ($padding_units * 2) + px;
        border-bottom: 1px dashed #f2f2f2;
        position: relative;

        &:before {

          content: "\43";
        }

        &.clicked:before {

          content: "\42";
        }
      }

      .event__start {

        position: absolute;
        width: 29%;
        left: 0;
        text-align: left;
        padding-left: ($padding_units * 2) + px;
        /*padding-top:  ($padding_units * 2) + px;*/
        text-transform: lowercase;
        font-style: italic;
      }

      .event__url, .event__ticket_uri {

        .etmodules {

          position: relative;
          padding-right: $padding_units + px;

          &:before {

            content: "\45";
            transition: none;
          }
        }

        .social_facebook_square {

          padding-right: 18px;
          white-space:  nowrap;

          &:before {

            content: "\e0c1";
            font-size: 1em;
            right: 0;
          }
        }

        .icon_link_alt {

          padding-right: 18px;
          white-space:  nowrap;

          &:before {

            content: "\e02b";
            font-size: 1em;
            right: 0;
          }
        }
      }
    }
  }
}

/* hide the generated header until the layout breaks down at 750 picks */
.sticky-wrapper, #usc_fb_events_fullcalendar__list__header,
#usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__date_today,
#usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__top {

  display: none;
}


@media only screen and ( max-width: 959px ) {

  .eo-fullcalendar.eo-fullcalendar-shortcode .fc-content {

    display: none;
  }

  #usc_fb_events_fullcalendar__list {

    display: block;
  }

}


@media screen and (max-width: 750px) {

  .eo-fullcalendar.eo-fullcalendar-shortcode {

    .fc-header {

      border-top: none;

      tr td {

        display: inline-block;
        border-top: none;
        padding: 6px 36px 0px 12px;

        &:last-of-type {

          padding-bottom: 12px;
        }
      }

      /* hide the title cell */
      .fc-header-title {

        display: none;
      }
    }
  }

  /* show our header on the top */
  .sticky-wrapper, #usc_fb_events_fullcalendar__list__header {

    display: block;
  }

  #usc_fb_events_fullcalendar__list__header {

    box-sizing:     border-box;
    border:         1px solid #eee;
    border-bottom:  none;

    .usc_fb_events_header__title {

      display: inline-block;
      padding: 8px 0px 4px 12px;
    }
  }

  .is-sticky {

    #usc_fb_events_fullcalendar__list__header {

      background-color: white;
      border-bottom: 1px solid #eee;

      /* Not flat design enough
      -webkit-box-shadow: 0px 4px 6px -3px rgba(238, 238, 238, 1);
      -moz-box-shadow:    0px 4px 6px -3px rgba(238, 238, 238, 1);
      box-shadow:         0px 4px 6px -3px rgba(238, 238, 238, 1);*/
      z-index: 100;
      width: 100%;
    }
  }
}


@media screen and (max-width: 600px) {

  .is-sticky #usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__top,
  #usc_fb_events_fullcalendar__list__header .usc_fc_events_header__button__date_today {

    float: right;
    top: 10px;
    right: 12px;
    display: inline-block;
  }
}


/*
@media screen and (max-width: 480px) {

}
*/


